
@import "tailwindcss";


html{
scroll-behavior:smooth;
}

body{
font-family:"Poppins",sans-serif;
}

h1,h2,h3{
font-family:"Playfair Display",serif;
}

.section{
padding:120px 24px;
}

.container{
max-width:1200px;
margin:auto;
}